<h2>Serie Noua Tradusa</h2>
<form action="/series" method="POST">
    <%- include('_form_fields') %>

    <a class="btn btn-d" href="/series">Cancel</a>
    <button class="btn btn-cru" type="submit">Create</button>
</form>