<!-- To delete we can't use an anchor tag, 
        we need to use a form to ensure we are not using a get request -->
<form method="POST" action="<%= url %>?_method=DELETE">
    <button class="btn btn-d" type="submit">Sterge</button>
</form>