<header>
    <nav>
        <a href="/">TranslaBserver</a>
        <ul>
            <li><a href="/series">Serii Traduse</a></li>
            <li><a href="/series/new">Adauga Serie Tradusa</a></li>
        </ul>
    </nav>
</header>