<h2>Episoade recente</h2>
<% episodes.forEach(episod => { %>
    <a href="/episodes/<%= episod.id %>">
        <div>
            <div>Episodul numarul: <%= episod.episodeNumber %></div>
            <div>Titlul: <%= episod.title %></div>
        </div>
    </a>
<%}) %>