<h2>Episod Nou Tradus</h2>
<form action="/episodes" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>

    <a class="btn btn-d" href="/episodes">Cancel</a>
    <button class="btn btn-cru" type="submit">Create</button>
</form>